FRONTEND_WEBCAPTIONER_SERVER=https://webcaptioner-back.serbskidom.de
FRONTEND_YOUTUBE_REGION=reg1#cue1
# options: 'ctranslate', 'fairseq', 'passthrough'
FRONTEND_DEFAULT_SOTRA_MODEL=fairseq
FRONTEND_DEFAULT_YOUTUBE_TIME_OFFSET=8
FRONTEND_MAX_LINES_IN_HISTORY=5
FRONTEND_DEFAULT_VOSK_SAMPLE_RATE=48000
FRONTEND_RECORDING_INFORMATION_LINE=Kedźbu, nahrawa so!
FRONTEND_DEFAULT_AUDIO_FORMAT=mp3
#FRONTEND_SEND_TIMESTAMP=
#FRONTEND_SEND_TIMESTAMP_COUNT=
#FRONTEND_DEFAULT_TRANSLATION_TARGET_LANGUAGE=
